{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="container-fluid">
    <h1>Create new room</h1>
    <div class="row">
        <div class="col-sm">
            <form action="/room_create/" method="POST" id="roomForm">
                {% csrf_token %}
                <table>
                    {{ room_form.as_table }}
                </table>
            </form>
            <!-- TODO: remove button and replace with simple post button. -->
            <input type="Button" value="Submit" id="btnSubmit" onclick="submitForms()">
        </div>
    
        <div class="col-sm">
            <div class="row" id="buttonPanel">
                
            </div>
            <canvas id="venueImgCanvas">
    
            </canvas>
        </div>
    </div>
</div>

<script>
    var canvas = document.getElementById("venueImgCanvas");
    var ctx= canvas.getContext("2d");
    ctx.lineWidth = 2;

    var canvasOffset = $("#venueImgCanvas").offset();
    var offsetX = canvasOffset.left;
    var offsetY = canvasOffset.top;

    var img = new Image();
    img.onload = function() {
        canvas.width = img.width;
        canvas.height = img.height;
        ctx.drawImage(img, 0, 0);
    }

    var startpoint, point2, timeout;
    var pressed = false;

    $("#venueImgCanvas").mousedown(function (e){
        startpoint = getCursorLoc(e);
        point2 = getCursorLoc(e);
        var shape = document.getElementById("id_shape").value;
        
        if (shape) {
            timeout = setInterval(function(){
            pressed = true;
            if (point2 != null){
                if (shape = 'rect') {
                    popCoords(startpoint[0], startpoint[1], point2[0], point2[1]);
                    drawRect(startpoint, point2[0] - startpoint[0], point2[1] - startpoint[1]);
                }
            }
            }, 100);
        }
        return false;
    });

    $("#venueImgCanvas").mouseup(function (e){
        if (timeout != null) {
            clearInterval(timeout);
        }
        return false;
    });

    $("#venueImgCanvas").mouseout(function() {
        if (timeout != null) {
            clearInterval(timeout);
        }
        return false;
    });

    $("#venueImgCanvas").mousemove(function (e){
        if (pressed) {
            point2 = getCursorLoc(e);
        }
    });

    function drawRect(point1, width, height) {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(img, 0, 0);
        ctx.beginPath();
        ctx.rect(point1[0], point1[1], width, height);
        ctx.stroke();
    }

    function changeImage(select) {
        {% for venue in venues %}
        var pk = {{ venue.pk }}
            if (pk == select.options[select.selectedIndex].value) {
                img.src = "{{ venue.arenalayout.url }}";
            }
        {% endfor %}
    }

    function getCursorLoc(e) {
        mouseX = parseInt(e.clientX - offsetX);
        mouseY = parseInt(e.clientY - offsetY);

        return [mouseX, mouseY];
    }

    function submitForms() {
        document.getElementById("roomForm").submit()
    }

    function popCoords(x1, y1, x2, y2) {
        var coordinates = document.getElementById("id_coordinates")
        coordinates.value = x1 + "," + y1 + "," + x2 + "," + y2;
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
<script src="{% static 'room_create.js' %}"></script>

{% endblock %}