{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="container-fluid">
    <h1>Create new room</h1>
    <div class="row">
        <div class="col-sm">
            <form action="/room_create/" method="POST" id="roomForm">
                {% csrf_token %}
                <table>
                    {{ room_form.as_table }}
                </table>
            </form>
            <!-- TODO: remove button and replace with simple post button. -->
            <input type="Button" value="Submit" id="btnSubmit" onclick="submitForms()">
        </div>
    
        <div class="col-sm">
            <div class="row" id="buttonPanel">
                
            </div>
            <canvas id="venueImgCanvas">
    
            </canvas>
        </div>
    </div>
</div>

<script>
    function changeImage(select) {
        {% for venue in venues %}
        var pk = {{ venue.pk }}
            if (pk == select.options[select.selectedIndex].value) {
                img.src = "{{ venue.arenalayout.url }}";
            }
        {% endfor %}
    }

    function submitForms() {
        document.getElementById("roomForm").submit()
    }

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
<script src="{% static 'room_create.js' %}"></script>

{% endblock %}